body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
}
.wrapper {
  --button-width: 115px;
  --button-height: 90px;
  /* 栅格布局 */
  display: grid;
  /* 每一个区域对应的按钮 */
  grid-template-areas:
    "result result result result record record"
    "percent  ac delete divide record record"
    "number-7 number-8 number-9 multiple record record"
    "number-4 number-5 number-6 minus record record"
    "number-1 number-2 number-3 plus record record"
    "plus-minus number-0 dot equal record record";
  /* 指定六行六列 */
  grid-template-columns: repeat(6,var(--button-width));
  grid-template-rows: repeat(6,var(--button-height));
  border: 1px solid #000;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 5px
}
.wrapper button{
  display: block;
  font-size: 24px;
  font-style: Helvetica;
  color: #000;
  border: 1px solid #aaa;
  background-color: #fff
}
.wrapper button:hover{
  background-color: #ccc;
  
}
.wrapper button:active{
  background-color: #aaa;
}
.result{
  font-size: 36px;
  color: #121;
  overflow: hidden;
}
.record .title{
  text-align: center;
  justify-content: center;
  display:block;
  font-size: 24px;
  padding-bottom: 25px
}
.record .history{
  color: #bab;
  font-size: 20px;
  height: 50px;
  width: 80%;
  padding: 10px 0 0 10px;
  display: inline-block;
  float: left;
  overflow: auto;
/*   clear:both */
}
.record .delete-history{
  clear:both;
  display: inline;
  float: right;
  height: 23px;
  font-size: 5px;
  border-radius: 50%;
  position: relative;
  right: 10px;
  top: 14px;
  vertical-align:middle;
  text-align: center; 
}
.record{
  position:relative;
}
.record .empty{
  height: 50px;
  width: 80px;
  background-color: #e11;
  color: #eee;
  position:absolute;
  top: 490px;
  left: 77px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}